<div class="container">
    <h2>Series List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td>{{serie.id}}</td>
          <td>{{serie.name}}</td>
          <td>{{serie.channel}}</td>
          <td>{{serie.seasons}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="mt-4">The average seasons number for all series is: {{ averageSeasons | number:'1.2-2' }}</p>

  
