
<div class="row">
  <div class="col-7 text-center">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- AQUI SE DEFINEN LAS COLUMNAS DE LA TABLA -->
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">País</th>
            <th scope="col">Género</th>
            <th scope="col">Fundación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banda of bandasList">
            <td>
              <dd>{{banda.id}}</dd>
            </td>
            <td>
              <a class="clicker" href="#" (click)="onSelected(banda)">
                <dd class="clicker-text">{{banda.name}}</dd>
              </a>
            </td>
            <td>
              <dd>{{banda.country}}</dd>
            </td>
            <td>
              <dd>{{banda.genre}}</dd>
            </td>
            <td>
              <dd>{{banda.foundation_year}}</dd>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <p class="parOldestBand">{{ getOldestBand() }}</p>
    </div>

  <div class="col-5 text-center">
    <div *ngIf="selected">
      <app-bandas-detail [bandas]="selectedBandas"></app-bandas-detail>
    </div>
  </div>
</div>
